@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins:wght@200&display=swap");
.user-img {
  height: 30px;
  width: 30px;
}
/*
HEADER COPIAR DA HOME
*/
header {
  display: flex;
  justify-content: space-evenly;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px -18px rgba(0, 0, 0, 0.25);
}
.header-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
.header-img {
  padding: 10px 0px 0px 10px;
  width: 122px;
  height: 33px;
}
.header-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 18px 15px 16px;
  width: 342px;
  height: 49px;
  left: 18px;
  top: 90px;
  background: #E9ECEF;
  border: 1.5px solid #E9ECEF;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #868E96;
}
/* MAIN */
/* SECTION DE FILTER COPIAR DA HOME */
.main-buttons {
  display: flex;
  justify-content: space-between;
}
.add-new-product-button {
  background-color: #FF2253;
  color: #F8F9FA;
  border: none;
  border-radius: 32px;
  padding: 10px 15px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}
/* DASHBOARD */
.dashboard-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  width: 80vw;
  margin-top: 20px;
}
.dashboard-header {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #868E96;
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
}
.dashboard-list {
  width: 100%;
}
.card-dashboard {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background: #FFFFFF;
  border: 1px solid #E9ECEF;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
}
.card-name {
  color: #212529;
  margin: 5px;
}
.card-description {
  display: none;
  color: #868E96;
  padding: 5px;
}
.card-header-product {
  width: 55%;
  padding: 5px;
}
.card-header-category {
  width: 30%;
  padding: 5px;
}
.card-header-description {
  display: none;
  padding: 5px;
}
.card-header-actions {
  width: 15%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-product {
  display: flex;
  align-items: center;
  width: 55%;
}
.card-product img {
  width: 20px;
  padding: 5px;
}
.card-categories {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
}
.card-categories span {
  background-color: #F8F9FA;
  border-radius: 8px;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #868E96;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.card-actions {
  margin: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 15%;
}
.action-button {
  background-color: #F8F9FA;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  cursor: pointer;
}
.action-button img {
  width: 20px;
}
.modal {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 40px;
}
.modal-section {
  background-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
  height: fit-content;
}
.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 28px;
  background-color: #F8F9FA;
  border-radius: 8px;
}
.name-modal {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.close-modal {
  background-color: #E9ECEF;
  color: #868E96;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  background: #FFFFFF;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
}
label {
  color: #212529;
}
input {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: none;
  align-self: stretch;
  color: #868E96;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: #F8F9FA;
  border: 1.5px solid #DEE2E6;
  box-sizing: border-box;
  border-radius: 12px;
}
.buttons-option button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
}
.category-options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.category-options input {
  padding: 0;
  margin: 0;
}
input[type="checkbox"] + label {
  cursor: pointer;
  border: 1.5px solid #F8F9FA;
  box-sizing: border-box;
  border-radius: 32px;
  color: #868E96;
  background-color: #F8F9FA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin-right: 10px;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}
input[type="checkbox"]:checked + label {
  border: 1.5px solid #FF2253;
  color: #F8F9FA;
  background-color: #FF2253;
}
.buttons-option {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.pink {
  background-color: #FF2253;
  border: 1.5px solid #FF2253;
  color: #F8F9FA;
}
.gray {
  background-color: #E9ECEF;
  color: #868E96;
  border: none;
}
.ok {
  border-bottom: 5px solid #39DF8F;
}
.not-ok {
  border-bottom: 5px solid #FF2253;
}
.modal-section p {
  padding: 50px;
}
.modal-status {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 8px;
  width: 300px;
}
.modal-status,
.section-header {
  padding: 5px;
}
.mesage {
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.profile-option{
    position: fixed;
    top: 50px;
    right: 100px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 120px;
    box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.15);
}
.profile-option .section-header{
    text-align: left;
}
.profile-option button{
    padding: 10px 15px;
    color: #212529;
    align-self: center;
}
.hidden{
  display: none;
}
/*
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  visibility: hidden;
}
 */
@media (min-width: 480px) {
  .card-product img {
    width: 7vw;
  }
  .card-header-product {
    width: 30%;
    padding: 5px;
  }
  .card-header-category {
    width: 20%;
    padding: 5px;
  }
  .card-header-description {
    display: block;
    width: 30%;
    padding: 5px;
  }
  .card-header-actions {
    width: 15%;
    padding: 5px;
  }
  .card-product {
    width: 35%;
  }
  .card-categories {
    width: 25%;
  }
  .card-description {
    display: block;
    width: 30%;
  }
  .card-action {
    width: 15%;
  }
  .modal-status{
    width: 360px;
  }
}