header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-left: 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 40px -20px rgba(0, 0, 0, 0.25);
}

h1 {
  font-family: "Poppins";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #212529;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.logo span {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff2253;
}

main {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.section-login,
.section-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ff2253;
  border-radius: 8px;
  padding: 20px;
  background-color: #f8f9fa;
  width: 185px;
  height: fit-content;
}

h2 {
  font-family: "Inter";
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ff2253;
  justify-self: center;
  font-weight: 900;
  text-decoration: underline;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-login form {
  line-height: 20px;
}

.section-register form {
  line-height: 10px;
}

label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 0px;
  padding-left: 10px;
}

button {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #ff2253;
  border: 1.5px solid #ff2253;
  color: #ffffff;
  box-sizing: border-box;
  border-radius: 32px;
  width: 100px;
  margin-top: 20px;
}
button:hover {
  cursor: pointer;
}

input {
  width: 170px;
  margin-bottom: 10px;
  border-radius: 12px;
  border: 1.5px solid #dee2e6;
  padding: 5px 0px 5px 10px;
  background-color: #e9ecef;
}

.open-modal {
  font-family: "Inter";
  font-size: 10px;
  text-decoration: underline;
  margin-top: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #000000;
}
.modal, .modal-invalid {
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
  position: fixed;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.close-modal {
  width: 20px;
  height: 20px;
  background-color: #e9ecef;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #868e96;
  border: none;
  border-radius: 4px;
  float: inline-end;
  padding: 0;
  margin: 0;
  align-self: flex-end;
}

.mesage{
  padding: 20px;
  background-color: #e9ecef;
  border: 1.5px solid #ff2253;
  border-radius: 4px;
}

.hidden {
  display: none;
}

@media (min-width: 480px) {
  header {
    justify-content: flex-start;
  }
}
